[Desktop Entry]
Categories=AudioVideo;AudioVideoEditing;Qt;KDE;
Comment[it]=Themonospot Qt - estrae informazioni da file multimediali
Comment=Themonospot Qt - estrae informazioni da file multimediali
Comment[it_IT]=Themonospot Qt - estrae informazioni da file multimediali
Exec=themonospot-gui-qt
GenericName[it]=Themonospot-Qt
GenericName=Themonospot-Qt
Icon=themonospot-gui-qt
Name[it]=Themonospot-Qt
Name=Themonospot-Qt
Name[it_IT]=Themonospot-Qt
StartupNotify=true
Terminal=false
Type=Application

