[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Themonospot
GenericName=Themonospot
Comment=themonospot - Avi file Parser & Editor
Icon=themonospot.png
Exec=themonospot
Categories=AudioVideo;AudioVideoEditing;GTK;GNOME;
Name[it_IT]=Themonospot
Terminal=false
Type=Application
