[Desktop Entry]
Categories=AudioVideo;AudioVideoEditing;GTK;GNOME;
Comment=themonospot - Parser and content descriptor for .avi and .mkv files
Comment[it_IT]=themonospot - estrae informazioni da un file avi
Exec=themonospot
GenericName=themonospot
Icon=themonospot
Name=themonospot
StartupNotify=true
Terminal=false
Type=Application
