[Desktop Entry]
Encoding=UTF-8
Name=themonospot
GenericName=themonospot
Comment=themonospot - Parser and content descriptor for .avi and .mkv files
Icon=themonospot
Exec=themonospot
Categories=AudioVideo;AudioVideoEditing;GTK;GNOME;
Name[it_IT]=themonospot
Comment[it_IT]=themonospot - estrae informazioni da un file avi
Terminal=false
Type=Application
StartupNotify=true
