[Desktop Entry]
Categories=AudioVideo;AudioVideoEditing;GTK;GNOME;
Comment[it]=Themonospot Gtk - estrae informazioni da file multimediali
Comment=Themonospot Gtk - estrae informazioni da file multimediali
Comment[it_IT]=Themonospot Gtk - estrae informazioni da file multimediali
Exec=themonospot-gui-gtk
GenericName[it]=Themonospot-Gtk
GenericName=Themonospot-Gtk
Icon=themonospot-gui-gtk
Name[it]=Themonospot-Gtk
Name=Themonospot-Gtk
Name[it_IT]=Themonospot-Gtk
StartupNotify=true
Terminal=false
Type=Application

